.button {
  width: 138px;
  height: 55px;
  border: none;
  padding: 15px 28px;
  font: var(--font-m);
  font-weight: var(--font-weight-bold);
  line-height: 23px;
  color: var(--font-button-color);
  background: var(--bg-primary-color);
  transition: background-color 0.5s;
  &:hover {
    background: var(--bg-primary-color-hover);
    transition: background-color 0.5s;
  }
}
.button_disabled:disabled {
  background: var(--bg-secondary-color);
}
.loading:disabled {
  width: 167px;
  padding: 0;
  background: var(--bg-secondary-color);
}
.children {
  display: flex;
  justify-content: space-around;
  img {
    filter: brightness(0) invert(1);
  }
}
