.Navbar {
  width: 1440px;
  height: 120px;
  margin-bottom: 100px;
  border-bottom: 2px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 44px;
    gap: 60px;
    .link {
      text-decoration: none;
      font: var(--font-m);
      font-weight: var(--font-weight-regular);
      color: var(--font-primary-color);
      position: relative;
      & :after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -45px;
        width: 0;
        height: 3px;
        background-color: black;
        transition: width 0.5s;
      }
      & :hover:after {
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -45px;
        height: 3px;
        background-color: var(--bg-primary-color);
        transition: width 0.5s;
      }
      & :hover {
        color: var(--bg-primary-color);
      }
    }
  }
  .user {
    display: flex;
    gap: 30px;
  }
}
.cart {
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-primary-color);
    color: var(--font-button-color);
    right: -10px;
    top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
